################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MQ2React/v16
/Intermediate
*.sln
*.user
